<section class="auth-section">
  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="on">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="Email" autocomplete="email">
      @if (emailControl.invalid && (emailControl.dirty || emailControl.touched)) {
      <mat-error>Please enter a valid email.</mat-error>
      }
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput placeholder="Password" autocomplete="current-password">
      <mat-hint align="end">{{ passwordControl.value.length }} / 6</mat-hint>
      @if (passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)) {
      <mat-error>Password must be at least 6 characters.</mat-error>
      }
    </mat-form-field>
    <div class="auth-action">
      @if (isLoading()) {
      <mat-spinner></mat-spinner>
      } @else {
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
      }
    </div>

    <div class="biometric-section" *ngIf="canLoginWithBiometrics" style="margin-top: 16px; text-align: center;">
      <button type="button" mat-stroked-button color="accent" (click)="onLoginWithBiometrics()">
        Login with Passkey
      </button>
    </div>
  </form>
</section>